.card-container {
    border: 1px solid transparent;
}

.card-container:hover {
    cursor: pointer;
    border-radius: 24px;
    background-color: #18181b;
    border: 1px solid transparent;
}

.selected-card {
    border-radius: 24px;
    border: 1px solid #84cc16;
}

.selected-card:hover {
    cursor: pointer;
    border-radius: 24px;
    background-color: #18181b;
    border-radius: 24px;
    border: 1px solid #84cc16;
}
