.navbar_manage_films {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.navbar__logo_manage_films {
    display: flex;
    gap: 10px;
    color: #84cc16;
    font-weight: 500;
}

