.navbar {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.navbar__logo {
  display: flex;
  gap: 10px;
  color: #84cc16;
  font: Space Grotesk;
  size: 24px;
  font-weight: 500;
}
.navbar__links {
  display: flex;
  gap: 19px;
}

.navbar__links li {
  text-decoration: none;
  list-style: none;
  color: #000;
  padding: 11px 33px;
  background-color: #e4e4e733;
  border: transparent 1px solid;
}
.navbar__links li.leftlink {
  text-decoration: none;
  list-style: none;
  color: #000;
  padding: 11px 33px;
  background-color: #e4e4e733;
  border-radius: 100px 0 0 100px;
}
.navbar__links li.rightlink {
  text-decoration: none;
  list-style: none;
  color: #000;
  padding: 11px 33px;
  background-color: #e4e4e733;
  border-radius: 0 100px 100px 0;
}

.navbar__links li:hover {
  cursor: pointer;
  border: #84cc1680 1px solid;
  background-color: #d9f99d33;
  color: #84cc16;
}

.active {
  border: #84cc1680 1px solid;
  background-color: #d9f99d33;
  color: #84cc16;
}
.navbar__links li.active {
  border: #84cc1680 1px solid;
  background-color: #d9f99d33;
  color: #84cc16;
}
